<h2 class="phone-title">Você não pode perder!</h2>
<div class="products-container">
  <div class="box-product">
    <img src="assets/89354.png" alt="iphone" class="iphone">
    <div class="infos">
      <p class="produto">Produto Exemplo 1</p>
      <h2 class="preco">R$ 79,99</h2>
      <p class="divide">5x de R$ 16,00</p>
    </div>
  </div>
  <div class="box-product">
    <img src="assets/89354.png" alt="iphone" class="iphone">
    <div class="infos">
      <p class="produto">Produto Exemplo 2</p>
      <h2 class="preco">R$ 99,99</h2>
      <p class="divide">5x de R$ 20,00</p>
    </div>
  </div>
  <div class="box-product">
    <img src="assets/89354.png" alt="iphone" class="iphone">
    <div class="infos">
      <p class="produto">Produto Exemplo 3</p>
      <h2 class="preco">R$ 119,99</h2>
      <p class="divide">5x de R$ 24,00</p>
    </div>
  </div>
  <div class="box-product">
    <img src="assets/89354.png" alt="iphone" class="iphone">
    <div class="infos">
      <p class="produto">Produto Exemplo 4</p>
      <h2 class="preco">R$ 139,99</h2>
      <p class="divide">5x de R$ 28,00</p>
    </div>
  </div>
</div>
