.container-menu{
  top: 0px;
  left: 0px;
  width: 1500px;
  height: 30px;
  background: #241960 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-1{
  background-color: transparent;
  border: none;
  margin-top: 7px;
  margin-left: 85px;
  width: 212px;
  height: 15px;
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  cursor: pointer;
}
.btn-2{
  white-space: nowrap;
  background-color: transparent;
  border: none;
  margin-top: 7px;
  margin-left: 87px;
  width: 142px;
  height: 15px;
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  cursor: pointer;
}
.btn-3{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 87px;
  width: 110px;
  height: 15px;
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
#icon-awesome-instagram{
  cursor: pointer;
  margin-top: 7px;
  margin-left: 1136px;
  background: transparent url('/projeto-pagina-e-comerce/src/data/insta.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.insta-link,.face-link,.youtube-link{
  text-decoration:none !important ;
}
.insta-link{
  margin-left: 450px;
  margin-right: 15px;
}
.face-link{
  margin-right: 15px;
}
